* {
  color-scheme: dark;
  scrollbar-width: thin;
  font-family: "Exo 2", sans-serif;
}

body {
  @apply min-h-lvh h-lvh overflow-x-hidden;
  @apply "light:bg-neutral-200 bg-neutral-950";

}

div#__nuxt {
  @apply col items-center relative size-full;
}

.prose img {
  @apply rounded-lg w-full;
}

h1,
h1 > a {
  @apply " md:text-4xl text-3xl";
  @apply "text-neutral-100 light:text-neutral-900";
}

h2,
h2 > a {
  @apply " md:text-3xl text-2xl";
  @apply "text-neutral-200 light:text-neutral-800";
}

h3,
h3 > a {
  @apply " md:text-2xl text-xl";
  @apply "text-neutral-300 light:text-neutral-700";
}

h4,
h4 > a {
  @apply "md:text-xl text-lg";
  @apply "text-neutral-400 light:text-neutral-600";
}

h5
p,
a,
li,
div {
  @apply "text-base";
  @apply "text-neutral-400 light:text-neutral-600";
}
